<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
   background: url(developers.png);
  background-size: cover;
 background-position: center;
 opacity: 1.5;

}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.info {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.head h2{
   text-align: center;
   color: #f1f1f1;
   font-size: 36px;

}
.head p{
color: aliceblue;
font-size: 14.5px;
text-align: left;
margin: 20px 0 15px;
text-decoration: double;


}
.cont  h1{
color: #f1f1f1;

}
.cont .into p{
color: #f1f1f1;

}
.cont .why p{

color: #f1f1f1;

}
.cont .meet  h1{
color: #f1f1f1;

}


    </style>
</head>
<body>
    <div class="cont">
    
        <h1>ABOUT US</h1>


    <div  class="into">
     <p><b> We are a group of final year university of Mpumalanga(UMP) students and as results we have been 
        tasked by our lecturer to organise or group ourselves into a group of 8 participants each and observe
         what challeges organisations and business sectors  are facing and try to bring innovations.
         Therefore we decided to name our group the "DEVELOPER'S THRILL" .The motive behind the name is that  
         we alway have sudden excitementd and pleasure whenever challenges which requires technology
         to be tackled and we believe thats where we get involve by bringing solutions on those challeges
        </b></p>
        </div>
      

      
      <h1>Why this system?</h1>

      
      <div class="why">  
         <p><b> We chose this system because we saw the struggle school learners face when its 
            time for them look for another school and register due to various reasons and we saw 
            a need for technology to be involve the processes. The challeges they face could be 
            time , unfavourable weather conditions, etc.It is our mission and goal to improve the work
            efficiency of organisations worldwide and as a results learners will be able to apply 
            online using their devices to their prefered schools.  
         </b></p>
</div>
<h1>Meet the developers</h1>
    </div>

   


   
<div class="row">

    <div class="column">
        <div class="card">
     <img src="nodumo.jpeg" alt="Avatar" style="width:100%">
          <h2><b>Nodumo Mabilane</b></h2>
           <h3>Web designer</h3>
           <h3>contact:0827652625</h3>
        </div>
      </div>
  
    <div class="column">
      <div class="card">
          <img src="casey.JPG" alt="Avatar" style="width:100%">
        <h2><b>Casey Mabuza</b></h2>
        <h3>front-end developer</h3>
          <h3>contact:0795224561</h3>
           
      </div>
    </div>
    
    <div class="column">
      <div class="card">
          <img src="tendani.jpeg" alt="Avatar" style="width:100%">
        <h2><b>Tendani Lebone</b></h2>
        <h3>Back-end developer</h3>
        <h3>contact:0607328318</h3>
  
      </div>
    </div>
  
    
  
    <div class="column">
      <div class="card">
        
      </div>
    </div>



  </div>
    
    
</body>
</html>