<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome page</title>
    <link rel="stylesheet" href="STYLE.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">
   
    <style>




*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;


}


    </style>
</head>
<body>

    <section>
        <div class="container">
    <nav>
<h1>online application system</h1>
<ul>
  <li><a href="" class="active">home</a></li>
  <li><a href="about_us.html">about us</a></li>
  
</ul>
 </nav>
<div class="article">
    <h1>SCHOOL ONLINE APPLICATION SYSTEM</h1>
    <p>Welcome to the school online application system developed by the DEVELOPER'S THRILL.This is a system which looks to 
        assist school learners who are in search for another schools to get enrolled in schools and also reduced the amount 
        of time spent travelling to different schools and filling papers for registrations.It is our goal to enhance 
        and improve the standard of our fellow leaners and also teachers  in the society hence this system will
        give learners the previllege to apply to their desired school online. We hope you will enjoy your journey
       with us  </p>
       <a href="login.html" class="btn">Get started</a>
</div>
</div>




    </section>
    
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
     crossorigin="anonymous"></script>
</body>
</html>
